<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">


<link rel="icon"  href="{{ url_for('static',filename='questionmark.ico') }}">

<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">
</head>

<body>
<div class="text-center">
	<h2>Trump or Real?</h2>
	<h4>
		{{ quote['quote_text']|safe }}
	</h4>
	<input type="hidden" value="{{ quote['id'] }}" id="question" />
	<button id="yes" class="waves-effect waves-light btn">Yes</button>
	<button id="no"  class="waves-effect waves-light btn">No</button>
	<p id="result"></p>
</div>


<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>



<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(function() {
    $('button').bind('click', function() {
      var $ANSWER = this.id;
      var $QUESTION = $('#question').val();
      $.getJSON($SCRIPT_ROOT + '/answer', {
      	 answer:$ANSWER,
      	 question:$QUESTION
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script>


</body>
</html>
